.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  .Nav_container {
    position: relative;
    max-width: 1224px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    margin-left: auto;
    margin-right: auto;

    .logo {
      background: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .nav_links {
      display: flex;
      list-style: none;

      li {
        margin-left: 3rem;

        a {
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          font-size: 0.85rem;
          opacity: 0.6;
          transition: 0.3s;
          &:hover {
            opacity: 1;
         }
        }
      }
    }
  }
}
